:root{
    --dot-color: #21222A;
}

.switch{
    --dot-color: #F5F5F5;
    transition: all 0.3s ease-in-out;
}


/* =================================== REUSABLE CSS ================================ */

.dot-container{
    height: 45px; width: 45px;
    display: flex;
}

.dot{
    height: 10px; width: 10px;
    border-radius: 50%;
    background-color: var(--dot-color);
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ------------------------------------------------------------------------------------------ */

/* Dot One */

.one{
    justify-content: center;
}

.one-one{
    align-self: center;    
}


/* Dot Two */

.two{
    flex-direction: column;
    justify-content: space-between;   
}

.two-two{
    margin-left: auto;
}


/* Dot Three */

.three{
    flex-direction: column;
    justify-content: space-between;
}

.three-two{
    
    align-self: center;
}

.three-three{
    
    margin-left: auto;
}

/* Dot Four */

.four-left{
    margin-left: auto;
}

/* Dot Five */

.five{
    justify-content: space-between;
}

.five-three{
    align-self: center;
}

/* Dot Six */

.six-left{
    margin-left: auto;
}


@media (max-width: 768px){
    .dot-container{
        width: 40px; height: 40px;
    }

    .dot{
        width: 8px; height: 8px;
    }
}

@media (max-width: 425px){
    .dot-container{
        width: 30px; height: 30px;
    }

    .dot{
        width: 6px; height: 6px;
    }
}

@media (max-width: 321px){
    .dot-container{
        width: 20px; height: 20px;
    }

    .dot{
        width: 4px; height: 4px;
    }
}