@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root{
  --body-color: #21222A;
  --main-game-color: #F5F5F5;
  --desc-color: #9F9F9F;
  --game-ui-color: #7EBDC2;
  --die-color: #FFF8F8;
  --dice-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.switch{
  --body-color: #f1f1f1;
  --main-game-color: #21222A;
  --desc-color: #e2e2e2;
  --game-ui-color: #649699;
  --die-color: #1f1f1f;
  --dice-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  
  transition: all 0.3s ease-in-out;
  
}


*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  background-color: var(--body-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.game-board{
  width: 500px;
  height: 500px;
  background-color: var(--main-game-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.game--title{
  color: var(--body-color);
  font-size: 2rem;
  margin: 0;
}

.game--description{
  font-size: .8rem;
  max-width: 250px;
  text-align: center;
  margin: 0;
  color: var(--desc-color);
}

.game--ui-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}

.game--timer{
  font-weight: 600;
  background-color: var(--game-ui-color);
  padding: 8px;
  color: var(--main-game-color);
  border-radius: 10px;
  font-size: .8rem;
}

.game--score{
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--game-ui-color);
  padding: 8px;
  color: var(--main-game-color);
  border-radius: 10px;
}

.btn{
  width: 32px;
  height: 32px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  background-color: var(--game-ui-color);
  color: transparent;
  -webkit-text-stroke: .7px var(--main-game-color);
}

.btn:hover{
  filter: brightness(90%);
}

.btn:active{
  transform: scale(.8);
}


/* ---- Dice CSS ---- */

.dice-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.die{
  width: 65px; height: 65px;
  border-radius: 10px;
  box-shadow: var(--dice-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.die--value{
  font-size: 1.8rem;
  color: transparent;
  -webkit-text-stroke: 1.4px var(--body-color);
}


.bottom{
  width: 300px;
  align-self: flex-end;
  justify-content: center;
}

.theme{
  margin-left: auto;
}


.roll-btn{
  width: 150px;
  padding-block: 10px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  background-color: var(--game-ui-color);
  font-size: 1.5rem;
  color: var(--main-game-color);
  cursor: pointer;
}

.roll-btn:hover{
  filter: brightness(95%);
}

.roll-btn:active{
  transform: scale(0.9);
}
