@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #21222A;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.game-board{
  width: 500px;
  height: 500px;
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.game--title{
  font-size: 2rem;
  margin: 0;
}

.game--description{
  font-size: .8rem;
  max-width: 250px;
  text-align: center;
  margin: 0;
  color: #CACACA;
}

.game--ui-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}

.game--timer{
  font-weight: 600;
  background-color: #7EBDC2;
  padding: 8px;
  color: #F5F5F5;
  border-radius: 10px;
  font-size: .8rem;
}

.game--score{
  font-size: 1rem;
  font-weight: 600;
  background-color: #7EBDC2;
  padding: 8px;
  color: #F5F5F5;
  border-radius: 10px;
}

.style-btn{
  width: 32px;
  height: 32px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  background-color: #7EBDC2;
  color: transparent;
  -webkit-text-stroke: .7px #F5F5F5;
}

.style-btn:hover{
  filter: brightness(90%);
}

.style-btn:active{
  transform: scale(.8);
}


/* ---- Dice CSS ---- */

.dice-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.die{
  width: 65px; height: 65px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.die--value{
  font-size: 1.8rem;
  color: transparent;
  -webkit-text-stroke: 1.4px #21222A;
}


.roll-btn{
  width: 150px;
  padding-block: 10px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  background-color: #7EBDC2;
  font-size: 1.5rem;
  color: #FBFCFF;
  cursor: pointer;
}

.roll-btn:hover{
  filter: brightness(95%);
}

.roll-btn:active{
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
}
